<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a bean for HelloWorld -->
    <bean id="springDemo" class="org.coursera.SpringDemo">
        <property name="message" value="Hello, from Spring!"/>
    </bean>
</beans>